@use "_reset.scss";

header{max-width:960px;text-align: center;margin: 0 auto;}
h1{margin:20px auto;width:72px;}
.tag-line{font-size: 20px;margin-bottom: 10px;}
.g-nav{width:100%;background-color: #56a001;margin-bottom: 60px;}
.g-nav>ul{display: flex;max-width:960px;height:50px;margin: 0 auto;}
.g-nav li{justify-content: space-between;width:25%;text-align: center;border-left: #fff solid 1px;}
.g-nav li:last-of-type{border-right: #fff solid 1px;}
.g-nav a{line-height: 50px;color: #fff;display: block;}
.g-nav li:hover{background-color: #0b7a3a7a;}

.wrapper{max-width:960px;margin:0 auto;display: flex;}
main{width:66%;margin-right: 60px;}
main>h2{margin-bottom: 20px;font-size: 28px;}
main>.lead{margin-bottom: 30px;}
main>h3{margin-bottom: 10px;font-size: 24px;}
.food>img{margin-bottom: 20px;}
.food>h4{margin-bottom: 10px;font-size: 20px;}
.food{margin-bottom: 80px;}

aside{width: 34%;}
aside>h2{margin-bottom: 10px;font-size:28px ;}
aside>img{margin-bottom: 20px;}

footer{width:100%;background-color:  #aa551d;padding-bottom: 30px;}
footer>p{color: #ffffff;text-align: center;padding:30px 0}
.sns>li{width:44px;margin-right: 40px;}
.sns{display: flex;max-width:960px;margin: 0 auto;}

@media (max-width:960px){
.wrapper,.sns{padding: 0 10px;}
.g-nav li:last-of-type{border-right:0;}
.g-nav li:first-of-type{border-left: 0;}
}
@media (max-width:640px){
.wrapper{display: block;}
main{margin-bottom:20px ;width: 100%;}
aside{margin-bottom: 20px;width: 100%;}
.g-nav ul{flex-wrap:  wrap;}
.g-nav li{width: 50%;height: 44px;}
.g-nav{height: 88px;}
.g-nav li:nth-of-type(n+3)>a{border-top:1px solid #fff;}
.g-nav li:nth-of-type(3){border-left: 0;}
.g-nav a{line-height: 44px;}}